{% extends "base_menu.html" %}

{% block content %}
<h2>Private Chat with {{ interlocutor.username }}</h2>

<div id="messages">
    {% for message in messages %}
        <p><strong>{{ message.owner.username }}:</strong> {{ message.text }}</p>
    {% endfor %}
</div>

<div class="mb-3">
    <label for="textMessage" class="form-label">Enter your message:</label>
    <textarea id="textMessage" class="form-control" placeholder="Type your message"></textarea>
</div>
<button id="addMessage" class="btn btn-primary rounded-1">Send</button>

<script>
    const chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/private_chat/{{ chat_id }}/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const message = data['message'];
        const username = data['username'];

        // update the chat interface with the new message
        const messageElement = document.createElement('p');
        messageElement.innerHTML = '<strong>' + username + ':</strong> ' + message;
        document.querySelector('#messages').appendChild(messageElement);
    };

    document.querySelector('#addMessage').onclick = function () {
        const textMessageElement = document.querySelector('#textMessage');
        const message = textMessageElement.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        textMessageElement.value = '';
    };
</script>
{% endblock %}