{% extends "base_menu.html" %}
{% block content %}
<h1>Profiles</h1>
    
<form method="POST" action="{% url 'homeapp:profile_list' %}">
    {% csrf_token %}
    <input type="text" name="input" placeholder="Enter username">
    <button type="submit">Search</button>
</form>

{% if profiles %}
    {% if search %}
      <h2>Search Results:</h2>
    {% else %}
      <h2>All Profiles:</h2>
    {% endif %}
    <ul>
        {% for profile in profiles %}
        <div>
            <a href="{% url 'homeapp:profile_detail' pk=profile.pk %}">{{ profile.username }}</a>
        </div>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}